body {margin: 0px;} /* >>> delete if not already used*/

.linker-navigatie {
    position: fixed;
    font-size: 14px;
    font-family: 'Avenir LT Std 55 Roman', sans-serif; /* >>> delete if not already used*/
    width: 8%;
    height: 100%;
    border-right-style: inset;
}

.linker-navigatie ul {
    list-style: none;
    padding-inline-start: 0px;
    float: left;
    margin-top: 80px;
}

#lesplan-knop {
    background-image: url(../nav-images/timeline-black.jpg);
    padding: 35px 5% 0px 31%;
    text-indent: -20px;
}
.help {
    background-image: url(../nav-images/information-black.jpg);
    padding: 35px 33% 0px 31%;
}
#lesplan-knop:hover {
    background-image: url(../nav-images/timeline.jpg);
}
.help:hover {
    background-image: url(../nav-images/information.jpg);
}
.help:hover, #lesplan-knop:hover{
    background-color: black;
    color: white;
    filter: invert();
}
.help,
#lesplan-knop {
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 48% 25%;
}

a:active,
a:link,
a:checked,
a:visited {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.ehb-logo {
    position: absolute;
    left: 8px;
    top: 91%;
    width: 65px;
}


