.linker-navigatie {
    position: fixed;
    font-size: 14px;
    font-family: 'Avenir LT Std 55 Roman', sans-serif;
    /* >>> delete if not already used*/
    width: 8%;
    height: 100vh;
    border-right-style: inset;
}

.linker-navigatie ul {
    list-style: none;
    padding-left: 0px;
    float: left;
    margin-top: 80px;
}

#lesplan-knop {
    background-image: url(../../nav-images/timeline-black.jpg);
    padding: 45px 6px 10px 5px;

}

.help {
    background-image: url(../../nav-images/information-black.jpg);
    padding: 45px 26px 10px 28px;
}

#lesplan-knop:hover {
    background-image: url(../../nav-images/timeline.jpg);
    cursor: pointer;
}

.help:hover {
    background-image: url(../../nav-images/information.jpg);
    cursor: pointer;
}

.help:hover, .help:active,
#lesplan-knop:hover, #lesplan-knop:active {
    background-color: black;
    color: white;
    cursor: pointer;
}

.help,
#lesplan-knop {
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 50% 25%;
}

a:link,
a:checked,
a:visited {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.ehb-logo {
    position: absolute;
    left: 8px;
    top: 91%;
    width: 65px;
}


@media only screen and (min-width: 1440px) {
    #lesplan-knop{
        margin-left: 20%
    }
    .help{
        margin-left: 20%
    }
    .ehb-logo{
        margin-left: 15px;
    }
}
*/
