* {
    margin: 0px;
    padding: 0px;
    max-width: 1024px;
}

h1 {
    font-family: 'Avenir LT Std 95 Black';
    font-size: 24pt;
}

main {
    margin-left: 15.13%;

}

header {
    padding-top: 5%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    box-sizing: content-box;
    width: 84.86%;

}

.title {
    margin-right: auto;
}

hr {
    margin-top: 1em;
    width: 100%;

}
