.info {
    width: 85.15%;
    text-align: center;
   
}
.marge p{
    text-align: justify;
    width: 90%;
    margin-left: 5%
}

.kennisverwerving,
.samenwerking,
.discussie,
.productie,
.praktijk,
.onderzoek {
    width: 11%;
    padding: 10%;
    color: white;
    float: left;
    margin: 1%;
    position: relative;

}


.kennisverwerving p,
.samenwerking p,
.discussie p,
.productie p,
.praktijk p,
.onderzoek p {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);

}

.kennisverwerving {
    background-color: #F1894D;
    text-align: center;

}

.samenwerking {
    background-color: #27ACAD
}

.discussie {
    background-color: #EF8190
}

.productie {
    background-color: #F3B30A;

}

.praktijk {
    background-color: #6561A9
}

.onderzoek {
    background-color: #86A32A
}

.info h2 {
    padding: 3%
}
.extrainformatie{
    color: white;
    padding: 2%
    
}

@media only screen and (min-width: 1440px) {
    .info p{
        font-size:  20px;
    }

}
