body {
    font-family: 'Avenir LT Std 55 Roman';
    max-width: 1024px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/*******************Titels/heading*****************/
header {
    padding-top: 10%;
    width: 63.96%;
    margin-left: 0%;
    float: left;
}

#fase-view {
    display: inline-block;
    display: inline-block;
    float: left;
}

h1 {
    font-family: 'Avenir LT Std 95 Black';
    font-size: 24pt;
}

.content {
    margin-left: 0%;
    width: 63.96%;
    margin-right: 0;
    float: left;
}

.doelstellingen,
.inhoud {
    display: inline-block;
    width: 49.6%;
    margin-bottom: 4%;
}

#fase-view h3 {
    font-family: 'Avenir LT Std 95 Black';
    font-size: 12pt;
    display: inline-block;
}

/*******************De Kaartjes*****************/
.klaarButton {
    position: absolute;
    left: 57.91%;
    top: 87.24%;
}

.kaartjes {
    position: absolute;
    top: 0;
    right: 0;
    width: 20.7%;
    padding-top: 3%;
}

.kaartjes p {
    color: white;
    padding-top: 25%;
    text-align: center;
}

.oranjeKaart,
.blauweKaart,
.rozeKaart,
.groeneKaart,
.paarseKaart,
.geleKaart {
    /*    text-align: center;*/
    margin-bottom: 12%;
    width: 162.47px;
    height: 88.78px;
}

.oranjeKaart p,
.blauweKaart p,
.rozeKaart p,
.groeneKaart p,
.paarseKaart p,
.geleKaart p {
    text-align: center;
    padding-top: 10px;

}

.oranjeKaart {
    background-color: #F1894D;
    color: white;
}

.blauweKaart {
    background-color: #27ACAD;
    color: white;
}

.rozeKaart {
    background-color: #EF8190;
    color: white;
}

.groeneKaart {
    background-color: #86A32A;
    color: white;
}

.paarseKaart {
    background-color: #6561A9;
    color: white;
}

.geleKaart {
    background-color: #F3B30A;
    color: white;
}


li {
    list-style-type: none;
}

/******************grid waarop je de kaartjes sleept********/


#fase-column1, 
#fase-column2, 
#fase-column3, 
#fase-column4 {
    border: 1px solid black;
    height: 300px;
    width: 100%;
    margin: 0px 5px 0px 0px;
    display: grid;
    grid-template-columns: 162.47px;
    grid-template-rows: 88.77px 88.77px 88.77px 88.77px 88.77px;
    overflow-y: scroll;
    grid-auto-flow: column;
}

.container {
    display: flex;
    float: left;
    overflow-x: scroll;
    /*    justify-content:space-between;*/
}

.kaartjes-placeholder {
    border: 1px dotted black;
    height: 88.77px;
}

/************************stijling voor de button & 'cancel' kruisjes*****/
.kaartje-start {
    width: 200px;
    float: right;
}

.start-position-kaartjes {
    position: absolute;
    top: 5%;
    right: -20px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.kaartje-start .portlet-header .ui-icon {
    display: none;
}

.container .portlet-header .ui-icon {
    display: block;
    text-indent: -9999em;
    padding: 3px 0px 0px 3px;
    overflow: hidden;
    width: 17px;
    height: 17px;
}